
<div class="row-fluid view-mode-bar visible-on-map mouse-on">
    <div class="input-group col-xs-12 col-sm-8 col-md-6 col-lg-6 center">
            <span class="view-mode-bar-btn" ng-click="go('details')" ng-class="{true:'active'}[viewMode == 'details']">
                <span class="glyphicon glyphicon-th-list"></span>
                <span class="view-mode-bar-txt" translate>MENU_DETAILS</span>
            </span>
            <span class="view-mode-bar-btn" ng-click="go('grid')" ng-class="{true:'active'}[viewMode == 'grid']">
                <span class="glyphicon glyphicon-th"></span>
                <span class="view-mode-bar-txt" translate>MENU_GRID</span>
            </span>
            <span class="view-mode-bar-btn" ng-click="go('map')" ng-class="{true:'active'}[viewMode == 'map']">
                <span class="glyphicon glyphicon-globe"></span>
                <span class="view-mode-bar-txt" translate>MENU_MAP</span>
            </span>
            <span class="view-mode-bar-btn" ng-click="pdf()">
                <span class="glyphicon glyphicon-print"></span>
                <span class="view-mode-bar-txt" translate>MENU_PDF</span>
            </span>
    </div>
</div>
